<p id="notice"><%= notice %></p>

<p>
  <strong>Num expediente:</strong>
  <%= @documento.num_expediente %>
</p>

<p>
  <strong>Asunto:</strong>
  <%= @documento.asunto %>
</p>

<p>
  <strong>Folio:</strong>
  <%= @documento.folio %>
</p>

<p>
  <strong>Ubic archivo:</strong>
  <%= @documento.ubic_archivo %>
</p>

<p>
  <strong>Rpta:</strong>
  <%= @documento.rpta %>
</p>

<p>
  <strong>Firma:</strong>
  <%= @documento.firma %>
</p>

<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
