<p id="notice"><%= notice %></p>

<p>
  <strong>Remitente:</strong>
  <%= @operacion.remitente %>
</p>

<p>
  <strong>Destinatario:</strong>
  <%= @operacion.destinatario %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @operacion.descripcion %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @operacion.empleado_id %>
</p>

<p>
  <strong>Tipo oper:</strong>
  <%= @operacion.tipo_oper_id %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @operacion.documento_id %>
</p>

<%= link_to 'Edit', edit_operacion_path(@operacion) %> |
<%= link_to 'Back', operacions_path %>
